@model Employee

@{
    ViewBag.Title = "Add new employee";
}

    <partial name ="_TimeBox" model="DateTime.Now" />
<div style="background-color: gainsboro; max-width: 500px;">
    <form asp-controller="Employees" asp-action="Create">
        <label asp-for="Name"> </label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>

        <label asp-for="Email"> </label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>

        <input type="submit" value="Create" />
        
    </form>
</div>
    

    @section scripts
    {
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js" 
            asp-fallback-src="/scripts/jquery-3.7.1.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.2/jquery.validate.min.js"
            asp-fallback-src="/scripts/jquery.validate.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"
            asp-fallback-src="/scripts/jquery.validate.unobtrusive.min.js"></script>
    }

