@model IndexVM

@{
    //Detta är koden som visas i @RenderBody
    ViewBag.Title = "SomeOffice";
}
<div id="IndexView"> 
    <header>
    <h2>Employed</h2>
        <h4>(@Model.ItemCount)</h4>
    </header>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Andra hem</th>
        </tr>
        @foreach (var item in Model.EmployeePersons)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.CompanyName</td>
            </tr>
        }
    </table>
    <footer>

        <a asp-controller="Employees" asp-action="Create">Skapa Ny anställd</a>

        <partial name="_TimeBox" model="DateTime.Now" />
    </footer>
</div>



