@model Employee[]

@{
    ViewBag.Title = "SomeOffice";
}
    <ul>
        @foreach (var item in Model)
    {
        <li> 
                <td>@item.Name</td>
                
        </li>
    }
     </ul>
     <a asp-controller="Employees" asp-action="Create">Skapa Ny anställd</a>
