

@model DateTime

<div style="
    display:flex;
    max-height: 100px;
    max-width: 200px;
    background-color: deeppink; 
    padding: 10px;
    border-radius: 5px">
<h4>Aktuell tid: </h4>
<p>@Model.ToString("HH:mm:ss")</p>
</div>

