

body {
    dispaly: flex;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 10px;
    padding: 10px;
}

h1 {
    color: #333 revert-layer;
    text-align: center;
}

a {
    align-items: center;
}

